.cards .container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards .container > ul > li {
  background-color: var(--background-color);
}

.cards .container .cards-card-image {
  line-height: 0;
}

.cards .container > ul > li img {
  max-width: calc(100% + 24px);
  margin-left: -12px;
  aspect-ratio: 4/3;
  object-fit: cover;
}

@media screen and (width >= 768px) {
  .cards .container > ul > li {
    border: 1px solid var(--highlight-background-color);
  }
  .cards .container > ul > li img {
    max-width: 100%;
    margin-left: auto;
  }
}