.c-tough-on-threats-container h3 {
  font-size: 20px;
  color: #006eff;
  font-weight: bold;
  line-height: 1.2;
}

.c-tough-on-threats-container h2 {
  font-size: 24px;
  color: #172462;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 9px;
}

.c-tough-on-threats-container p {
  color: #666;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .c-tough-on-threats-container h2 {
    font-size: 32px;
  }
}