/* b-boxes .b-dropdownbox-container*/
.b-loadselectors-container {
  display: none;
}

.b-dropdownbox-container .block img {
  width: 20px;
}
.b-dropdownbox-container .block > div {
  padding: 15px 30px;
}

.b-dropdownbox-container .block > div:not(:first-child) {
  padding: 0;
  font-weight: 500;
  display: flex;
}

.b-dropdownbox-container .block > div:not(:first-child) > div {
  padding: 15px 2%;
  display: inline-block;
}

.b-dropdownbox-container .block.inactive > div:not(:first-child) > div, .b-dropdownbox-container .block.closed > div:not(:first-child) > div {
  display: none;
}
.b-dropdownbox-container .block.closed.inactive > div:not(:first-child) > div {
  display: inline-block;
}

.b-dropdownbox-container .block > div > div:nth-child(1), .b-dropdownbox-container .block > div > div:nth-child(1) {
  background-color: #e4f2ff;
}
.b-dropdownbox-container .block > div > div:nth-child(2), .b-dropdownbox-container .block > div > div:nth-child(2) {
  background-color: #f6f6f6;
}

/* blue tbs */
.b-dropdownbox-container .block > div:nth-child(1) {
  padding: 0;
}
.b-dropdownbox-container .block > div:nth-child(1) > div {
  color: #fff;
  font-weight: 500;
  background-color: #006eff;
  cursor: pointer;
  padding: 15px 30px;
}

/* handling - arrow down/up */
.b-dropdownbox-container .block > div:nth-child(1) > div::before, .b-dropdownbox-container .block.closed.inactive > div:nth-child(1) > div::before {
  content: "";
  width: 17px;
  height: 19px;
  background: url(../../images/icons/arrow_down.png) top left no-repeat transparent;
  float: left;
  margin-right: 9px;
  background-size: 100%;
  transform: rotate(180deg);
}
.b-dropdownbox-container .block.inactive > div:nth-child(1) > div::before, .b-dropdownbox-container .block.closed > div:nth-child(1) > div::before  {
  background: url(../../images/icons/arrow_down.png) bottom left no-repeat transparent;
  transform: rotate(0deg);
  background-size: 100%;
}

/* for mobile */
@media (max-width: 768px) {
}

@media (max-width: 576px) {
}