.columns h3 {
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}

.columns > div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  max-width: calc(100% + 24px);
  margin-left: -12px;
}

@media (min-width: 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    padding: 18px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .columns-img-col--left img {
    max-width: 100%;
    margin-left: auto;
  }

  .columns > div > .columns-img-col--right img {
    max-width: 100%;
    margin-right: auto;
  }
}