.c-progress-section-container {
  background: #f2f2f2;
  padding: 30px 10px;
}

.c-progress-section-container .progress {
  flex-grow: 1;
  position: relative;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  border-radius: 3px;
  height: 30px;
  margin-top: 5px;
  max-width: 90%;
  background-color: unset;
}

.c-progress-section-container .progress-bar {
  background: #d6d6d6;
  text-align: left;
  padding-left: 13px;
  color: black;
  font-weight: 500;
}

.c-progress-section-container .progress-bar--first {
  background: linear-gradient(90deg, rgb(1, 14, 128) 0%, rgb(0, 110, 255) 100%);
  color: white;
}

.c-progress-section-container .progress-number {
  color: #5f5f5f;
  font-size: 13px;
  font-weight: 500;
}

.c-progress-section-container .footer {
  color: #999;
  font-size: 12px;
  width: 94%;
  margin: 0 auto;
}

.c-progress-section-container .heading {
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}

.c-progress-section-container .subheading {
  font-size: 32px;
  color: #172462;
  font-weight: 600;
  line-height: 1.2;
}

.c-progress-section-container .inner-wrapper {
  background: #fff;
  border: 2px solid #ececec;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  height: 100%;
}

.c-progress-section-container .title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.c-progress-section-container .subtitle {
  font-size: 14px;
  margin-top: 0;
}

.c-progress-section-container .inner-wrapper .svg-icon {
  display: none;
}

@media screen and (width >= 767px) {
  .c-progress-section-container .inner-wrapper .svg-icon {
    display: block;
  }
}
@media screen and (width <= 767px) {
  .c-progress-section-container .heading {
    margin-bottom: 0;
  }
  .c-progress-section-container .subheading {
    font-size: 27px;
    line-height: 30px;
    margin-top: 10px;
  }
}