.c-reviews-container {
  background: #f7f1e7;
  padding: 40px 0;
}

.c-reviews-container .bottom-text {
  font-size: 14px;
  color: #999;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0 0;
}

@media (max-width: 768px) {
  .c-reviews-container .bottom-text {
    font-size: 12px;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
}