/* .c-productswithvpn */
.c-productswithvpn {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.c-productswithvpn > div {
    width: 32%;
    position: relative;
    padding: 2%;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 35%);
}

.c-productswithvpn > div h2 {
    font-size: 36px;
    margin: 0;
    line-height: 32px;
}

.c-productswithvpn > div h2::after {
    content: "";
    border-bottom: 2px solid #9A9A9A;
    width: 117px;
    display: block;
    margin: 10px auto 0;
}

.c-productswithvpn > div.tsmd_box h2::after {
    border-bottom: 2px solid #df1283;
}

.c-productswithvpn > div.is_box h2::after {
    border-bottom: 2px solid #019de9;
}

.c-productswithvpn > div.av_box h2::after {
    border-bottom: 2px solid #e30000;
}

.c-productswithvpn > div div.green_tag {
    background-color: #22ac3b;
    text-align: center;
    position: absolute;
    border-radius: 0;
    color: #fff;
    padding: 0 0 9px;
    left: 0;
    top: 0;
    right: 0;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
}

.c-productswithvpn > div div.prices_box span.prod-oldprice {
    margin-top: 10px;
    font-size: 24px;
    color: #666;
}

.c-productswithvpn > div div.prices_box span.prod-newprice {
    font-size: 36px;
    margin-bottom: 3px;
    font-weight: bold;
    line-height: 1.2;
}

.c-productswithvpn > div picture img {
    height: 20px;
    margin: 0 5px;
}

.c-productswithvpn > div p {
    margin: 5px 0;
    line-height: 22px;
}

.c-productswithvpn > div p:nth-of-type(4) {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 0;
    line-height: 12px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.c-productswithvpn > div p:nth-of-type(5) {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.c-productswithvpn > div p:nth-of-type(7) {
    color: #999;
    font-size: 12px;
    margin: 15px 0;
    text-align: center;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.c-productswithvpn > div p:nth-of-type(8) {
    color: #000;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.c-productswithvpn > div p:nth-of-type(3) {
    font-size: 15px;
    color: #111;
}

.c-productswithvpn > div p:nth-of-type(2) {
    font-size: 16px;
    color: #666;
    font-weight: 500;
}

.c-productswithvpn > div p:nth-of-type(1) {
    margin-top: 1.5em;
}

.c-productswithvpn > div table:nth-of-type(2) p {
    margin-top: 0!important;
}

.c-productswithvpn > div:not(:first-child) p:nth-of-type(1) {
    margin-top: 36px;
}

.c-productswithvpn > div p:nth-of-type(7) a {
    color: #06f;
}

.c-productswithvpn > div table,
.c-productswithvpn > div table tbody,
.c-productswithvpn > div table tbody tr,
.c-productswithvpn > div table tbody tr td {
    width: 100%;
    display: block;
}

.c-productswithvpn > div table:nth-of-type(2) {
    font-size: 14px;
    text-align: left;
    border-radius: 5px;
    margin: 1em 0;
    line-height: 14px;
    cursor: pointer;
}

.c-productswithvpn > div ul li {
    background: url("../../images/icons/simple_green_check.png") 0 3px no-repeat transparent;
    list-style-type: none;
    padding-left: 23px;
    background-size: 16px;
    font-size: 14px;
    color: #000;
    text-align: left;
    margin-top: 10px;
}

.c-productswithvpn > div ul {
    padding-left: 0;
}

.c-productswithvpn > div table:nth-of-type(2) ul {
    width: 155px;
    margin: 6px auto;
}

.c-productswithvpn > div table:nth-of-type(2) ul li {
    background: none;
}

.c-productswithvpn > div table.vpn_box:nth-of-type(2) tbody {
    padding: 10px 0 10px 38px;
    background: #eaf5ec;
    margin-left: -36px
}

.c-productswithvpn .vpn_box input {
    width: 17px;
    height: 17px;
    margin: 7px 7px 0 15px;
    z-index: 1;
    cursor: pointer;
}

.c-productswithvpn > div table:nth-of-type(2) input {
    width: 17px;
    height: 17px;
    margin: 7px 7px 0 15px;
    z-index: 1;
    cursor: pointer;
}

.c-productswithvpn .vpn_box div {
    padding: 10px 0;
    background: #eaf5ec;
    display: flex;
    font-size: 14px;
    text-align: left;
    border-radius: 5px;
    margin: 1em 0;
    line-height: 14px;
    align-items: center;
    cursor: pointer;
}

.c-productswithvpn .vpn_box label {
    cursor: pointer;
}

.c-productswithvpn .vpn_box label > span {
    display: block;
    margin: 5px 0;
}


.c-productswithvpn > div div.buybtn_box {
    height: 80px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.c-productswithvpn > div div.buybtn_box a {
    align-self: center;
}

/* 1st box */
.c-productswithvpn > div:nth-child(1) {
    border: 9px solid #22ac3b;
}

/* 2st box */


/* 3st box */


/* if has no vpn - is normal text */
.c-productswithvpn-container.table_fixed_h .c-productswithvpn > div table:nth-of-type(2), .c-productswithvpn-container.table_fixed_h .c-productswithvpn .vpn_box {
    min-height: 126px;
    margin: 1em 0;
}

/* if has 4 elements */
.c-productswithvpn-container.has4boxes .c-productswithvpn-wrapper {
    max-width: 87%;
}

.c-productswithvpn-container.has4boxes .c-productswithvpn > div {
    width: 24%;
    padding: 1%;
    border: 0 none;
    overflow: hidden;
}

.c-productswithvpn-container.has4boxes .c-productswithvpn > div p:nth-of-type(1) {
    margin-top: 40px;
}

.c-productswithvpn-container.has4boxes .c-productswithvpn > div div.green_tag {
    padding: 9px 0;
}

.c-productswithvpn-container .top_title h1, .c-productswithvpn-container .top_title h2 {
    font-size: 28px;
    width: 74%;
    margin: 1em auto;
    display: inline-block;
    text-align: center;
}

.c-productswithvpn-container .top_title.p_left h1, .c-productswithvpn-container .top_title.p_left h2 {
    width: 610px;
    margin: 1em 0;
    display: inline-block;
    text-align: left;
}

.c-productswithvpn-container.has4boxes .c-productswithvpn > div h2 {
    font-size: 30px;
    line-height: 27px;
}

.c-productswithvpn-container .top_title {
    padding: 1em 0 3em;
    text-align: center;
}

.c-productswithvpn-container .top_title.p_left {
    text-align: left;
}

.c-productswithvpn-container .top_title .prod-percent.green_bck_circle.bigger {
    position: relative;
    right: 0;
    top: 0;
}


/* for mobile */
@media (min-width: 1450px) {
    .c-productswithvpn-container.has4boxes .c-productswithvpn-wrapper {
        max-width: 1450px;
    }
}

@media (max-width: 989px) {
    .c-productswithvpn-container.has4boxes .c-productswithvpn {
        display: block;
    }

    .c-productswithvpn-container.has4boxes .c-productswithvpn-wrapper {
        max-width: 100%!important;
    }

    .c-productswithvpn-container.table_fixed_h .c-productswithvpn > div table:nth-of-type(2) {
        min-height: auto;
    }

    .c-productswithvpn-container.has4boxes .c-productswithvpn > div {
        width: 100%!important;
        padding: 3%!important;
        margin-bottom: 1em!important;
        padding-bottom: 10px!important;
    }
}

@media (max-width: 768px) {
    .c-productswithvpn {
        display: block;
        width: 92%;
        margin: 0 auto;
    }

    .c-productswithvpn > div {
        width: 100%!important;
        padding: 3%!important;
        margin-bottom: 1em!important;
        padding-bottom: 10px!important;
    }

    .c-productswithvpn > div h2 {
        font-size: 24px;
        line-height: 23px;
    }

    .c-productswithvpn-container .top_title.p_left h1, .c-productswithvpn-container .top_title.p_left h2 {
        width: 97%;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
    }

    .c-productswithvpn > div p:nth-of-type(7) {
        margin: 0;
        padding-bottom: 10px;
    }

    .c-productswithvpn > div p:nth-of-type(2) {
        font-size: 14px;
    }

    .c-productswithvpn > div div.buybtn_box {
        height: auto;
    }

    .c-productswithvpn > div div.prices_box span.prod-newprice {
        font-size: 29px;
        margin-bottom: 0;
        line-height: 36px;
    }

    .c-productswithvpn > div div.prices_box span.prod-oldprice {
        font-size: 21px;
    }

    .c-productswithvpn > div:not(:first-child) p:nth-of-type(1) {
        margin-top: 13px;
    }
}