/* .c-dropdownbox */
.c-dropdownbox-container {
  clear: both;
}

.c-dropdownbox-container .block > div {
  padding: 0;
  font-weight: 500;
  display: flex;
}

.c-dropdownbox-container .block > div > div {
  width: 22%;
  padding: 15px 1%;
  display: inline-block;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

/* inner dropdowns */
.c-dropdownbox-container .block > div:not(:nth-child(1)) {
  display: none;
  position: relative;
}

/* grey tbs */
.c-dropdownbox-container .block > div:first-of-type {
  padding: 0;
}


.c-dropdownbox-container .block > div:first-of-type > div {
  background: #f2f2f2;
  cursor: pointer;
}

.c-dropdownbox-container .block > div:not(:nth-child(1)) > div {
  background-color: #fefcfc;
}

.c-dropdownbox-container .block.inactive > div:not(:nth-child(1)) {
  display: flex;
}

.c-dropdownbox-container .block > div:first-of-type  > div:first-of-type,
.c-dropdownbox-container .block > div:not(:nth-child(1)) > div:first-of-type {
  width: 35%;
  border-left: 0;
}

.c-dropdownbox-container .block > div img {
  width: 20px;
}

.c-dropdownbox-container .block > div:first-of-type > div:nth-child(3),
.c-dropdownbox-container .block > div:not(:nth-child(1)) > div:nth-child(3) {
  background: #fff;
}

.c-dropdownbox-container p {
  margin: 0;
  font-size: 14px;
  color: #999;
  line-height: 1.1;
}

.c-dropdownbox-container u {
  font-size: 12px;
  color: #21b53d;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 7px;
}

.c-dropdownbox-container em {
  display: inline-block;
  font-size: 10px;
  line-height: 1.3;
  background: #e32418;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 3px 10px;
  text-align: center;
  vertical-align: 2px;
  position: relative;
  font-style: normal;
}

.c-dropdownbox-container strong {
  color: black;
  position: relative;
  font-weight: 600;
  font-size: 16px; 
  margin-bottom: 5px;
  display: inline-block;
}

.c-dropdownbox-container .default-content-wrapper {
  margin: 10px 0 2em;
  padding: 0;
}

.c-dropdownbox-container .default-content-wrapper p {
  font-size: 14px;
  color: #999;
  line-height: 1.1;
}

.c-dropdownbox-container .block.inactive > div:nth-child(1) > div strong::after,
.c-dropdownbox-container .block.closed > div:nth-child(1) > div strong::after  {
  background: url("../../images/icons/arrow_down_blue.png") bottom left no-repeat transparent;
  transform: rotate(0deg);
  background-size: 100%;
}

/* handling - arrow down/up */
/* stylelint-disable no-descending-specificity */
.c-dropdownbox-container .block > div:nth-child(1) > div strong::after,
.c-dropdownbox-container .block.closed.inactive > div:nth-child(1) > div strong::after {
  content: "";
  width: 13px;
  height: 13px;
  background: url("../../images/icons/arrow_down_blue.png") top left no-repeat transparent;
  display: inline-block;
  margin-left: 9px;
  background-size: 100%;
  transform: rotate(180deg);
}

.c-dropdownbox-container .block .bottomText {
  color: black;
  font-size: 16px;
  margin: 1em 0;
}

/* for mobile */
@media (max-width: 768px) {
  .c-dropdownbox-container {
    clear: both;
    padding: 0 15px 5px;
  }

  .c-dropdownbox-container p {
    padding: 0 10px;
  }

  .c-dropdownbox-container .block .bottomText {
    font-size: 14px;
  }
  .c-dropdownbox-container .block > div:not(:first-child) > div:nth-child(1) {
    width: 100%;
  }

  .c-dropdownbox-container .block > div:first-of-type, .c-dropdownbox-container .block > div:first-of-type > div:first-of-type, .c-dropdownbox-container .block.inactive > div:not(:nth-child(1)) {
    display: block;
    width: 100%;
  }

  .c-dropdownbox-container .block > div:nth-child(1) > div {
    font-size: 15px;
    line-height: 17px;
  }

  .c-dropdownbox-container .block > div:nth-child(1) > div:not(:nth-child(1)) {
    width: 33%;
    float: left;
    display: block;
    text-align: left;
    padding: 10px 0;
    border: 0 none;
  }

  .c-dropdownbox-container .block > div > div {
    padding: 5px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 0 none;
  }

  .c-dropdownbox-container .block > div:first-of-type > div:not(:first-child) {
    text-align: center;
  }

  .c-dropdownbox-container .block > div:not(:first-child) > div:not(:first-child) {
    width: 33%;
    float: left;
    border: 0 none;
  }

  .c-dropdownbox-container .block.has2divs > div:not(:first-child) > div:not(:first-child) {
    width: 100%;
  }
}
