.c-device-protection-box-wrapper {
  margin: 3em auto !important;
}

.c-device-protection-box-container {
  padding: 40px 0;
}

/* heading */
.c-device-protection-box-container .row-box > :nth-child(2) > *:first-child {
  font-size: 14px;
}

/* subtext */
.c-device-protection-box-container .row-box > :nth-child(2) > :not(:first-child) {
  font-size: 12px;
}

@media screen and (width >= 992px) {
  /* heading */
  .c-device-protection-box-container .row-box > :nth-child(2) > *:first-child {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 0;
  }
  /* subtext */
  .c-device-protection-box-container .row-box > :nth-child(2) > :not(:first-child) {
    font-size: 14px;
    margin-top: 0;
  }
}
@media (width <= 768px) {
  .c-device-protection-box-container {
    padding: 1em 0;
  }
  .c-device-protection-box-wrapper {
    margin: 1em auto !important;
  }
}