/* eslint-disable */
/* block specific CSS goes here */
*,
::after,
::before {
  box-sizing: inherit;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

#heroBanner {
  color: white;
  background-size: cover;
  min-height: 450px;
  padding: 40px 0;
}

#heroBanner h1 {
  font-size: 40px;
  max-width: 595px;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

#heroBanner h2 {
  font-weight: 700;
  font-size: 40px;
  max-width: 595px;
  margin-top: 0;
}

#heroBanner p {
  font-size: 21px;
  font-weight: 400;
  color: white;
  margin: 1em 0px 0px;
}

/* for lower devices */
@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  #heroBanner {
    min-height: auto;
    padding: 3%;
    background-position: right -8em top;
  }
  #heroBanner h1 {
    font-size: 24px;
    max-width: unset;
    margin-top: 0;
  }
  #heroBanner h2 {
    font-size: 24px;
    max-width: unset;
    margin-top: 1em;
  }
}

/* for mobile */
@media (max-width: 576px) {
  
}
