.b-banner-container {
  color: white;
  background-size: cover;
  min-height: 450px;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-position: top right;
}

.b-banner-container h1 {
  font-size: 40px;
  max-width: 595px;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

.b-banner-container h2 {
  font-weight: 700;
  font-size: 40px;
  max-width: 595px;
  margin-top: 0;
}

.b-banner-container p {
  font-size: 21px;
  font-weight: 400;
  color: white;
  margin: 1em 0px 0px;
  margin-right: 10px;
}

.b-banner-container .float-p p {
  display: inline;
}

.b-banner-container p .prod-percent.green_bck {
  margin-top: 0;
}

/* for lower devices */
@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  .b-banner-container {
    min-height: auto;
    padding: 3% 0;
  }
  .b-banner-container h1 {
    font-size: 24px;
    max-width: unset;
    margin-top: 0;
  }
  .b-banner-container h2 {
    font-size: 24px;
    max-width: unset;
    margin-top: 1em;
  }
}

/* for mobile */
@media (max-width: 576px) {
  .b-banner-container {
    background: black;
  }
}
