.b-banner-container {
  color: white;
  background-size: cover;
  max-height: 496px;
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}

.section.b-banner-container {
  padding-right: 0;
  padding-left: 0;
}

.b-banner-container .b-banner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2em;
}

.b-banner-container h1 {
  font-size: 35px;
  max-width: 610px;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

.b-banner-container h2 {
  font-weight: 700;
  font-size: 35px;
  max-width: 595px;
  margin-top: 0;
  margin-bottom: 0;
}

.b-banner-container .w-full h1, .b-banner-container .w-full h2 {
  max-width: 100%;
}

.b-banner-container p {
  font-size: 21px;
  font-weight: 400;
  color: white;
  margin: 1em 0 0;
  margin-right: 10px;
  max-width: 595px;
}

.b-banner-container .float-p p {
  display: inline;
}

.b-banner-container p .prod-percent.green_bck {
  margin-top: 0;
}

.b-banner-container a.button {
  background: #e72325 !important;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 13px 3%;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s;
  width: auto;
  border-style: none;
  cursor: pointer;
  margin: 5px 0;
}

.b-banner-container a.button:hover {
  background: #b33027 !important;
  text-decoration: none;
}

.b-banner-container img {
  width: 100%;
}

/* for lower devices */
@media (max-width: 1199px) {
  .b-banner-container .b-banner-wrapper {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .b-banner-container {
    min-height: auto;
  }
  .b-banner-container .b-banner-wrapper {
    position: relative;
    padding-left: 0;
  }
  .b-banner-container img {
    display: none;
  }
  .b-banner-container h1 {
    font-size: 24px;
    max-width: unset;
    margin-top: 0;
  }
  .b-banner-container h2 {
    font-size: 21px;
    max-width: unset;
    margin-top: 10px;
  }
}
/* for mobile */
@media (max-width: 576px) {
  .b-banner-container {
    background: black;
  }
}