/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* load components style */

@import url("/components/column/column.css");
@import url("/components/review/review.css");

 :root {
  /* colors */
  --link-color: #000;
  --link-hover-color: #006EFF;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ececec;
  --text-color: #000;

  /* fonts */
  --body-font-family: 'Roboto', sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

/* 
@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
} */

body {
  font-size: var(--body-font-size-xs);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

/* .row>* { */

/*  width: auto; */

/*  max-width: none; */

/* } */

*[data-align="center"] {
  text-align: center;
}

header {
  background-color: black;
  height: var(--nav-height);
}

header .container {
  padding: 16px 0;
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

/* todo: import bootstrap used classes in a more fashioned way */
@media (min-width:1200px) {
  .container {
    max-width: 1200px;
  }
}

body [data-mobile-detector] {
  display: block;
}

body [data-tablet-detector] {
  display: none;
}

body [data-desktop-detector] {
  display: none;
}

@media (min-width: 768px) {
  body [data-mobile-detector] {
    display: none;
  }
}

@media (min-width: 768px) {
  body [data-tablet-detector] {
    display: block;
  }
}

@media (min-width: 992px) {
  body [data-desktop-detector] {
    display: block;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  background: #e72325;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 10px 3em;
  font-size: 14px;
  font-weight: bold;
  transition: background-color .2s;
  width: auto;
  border-style: none;
  cursor: pointer;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: #b33027;
  cursor: pointer;
  text-decoration: none;
}

a.button:any-link:hover, button:hover {
  background: #b33027;
}

button:disabled, button:disabled:hover {
  background-color: #e72325;;
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main {
  background-color: var(--background-color);
}

main .section {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

main .default-content-wrapper h1, main .default-content-wrapper h2 {
  font-size: 32px;
  color: #111;
  font-weight: 600;
  margin: 0 0 20px;
}

.red-buy-button p {
  padding: 0!important;
  margin: 0!important;
  color: white!important;
  line-height: 11px;
}

main .default-content-wrapper {
  text-align: center;
  padding-top: 2rem;
  padding-left: 15px;
  padding-right: 15px;
}

main .default-content-wrapper h1:last-of-type, main .default-content-wrapper h2:last-of-type {
  margin-bottom: 15px;
}

main .section[data-size="bigger"] .default-content-wrapper h1, main .section[data-size="bigger"] .default-content-wrapper h2 {
  font-size: 38px;
}

main .default-content-wrapper p {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

main .default-content-wrapper p.button-container {
  margin: 1em 0;
}

main .default-content-wrapper img {
  margin-top: 2rem;
}

.topHeader .heading {
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}

.topHeader .subheading {
  font-size: 32px;
  color: #172462;
  font-weight: 600;
  line-height: 1.2;
}


@media (min-width: 600px) {
  /* main .section {
    padding: 64px 32px;
  } */
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
.section[data-backround="grey"] {
  background: #ececec;
  padding: 2em 0;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

.greenTag {
  background-color: rgb(47 180 62);
  font-size: 11px;
  display: inline;
  padding: 2px 6px;
  color: rgb(255 255 255);
  border-radius: 10px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
}

.strong span {
  font-weight: bold;
}

.prices_box {
  text-align: center;
}

.prices_box span {
  display: block;
  margin: 2px 0;
}

.prod-percent.green_bck_circle.bigger span {
  display: block;
  line-height: 21px;
}

.prod-percent.green_bck_pill {
  background-color: rgb(47 180 62);
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px;
  color: rgb(255 255 255);
  border-radius: 15px;
  margin-top: 15px;
}

.prod-percent.green_bck_circle {
  position: relative;
  background: #2cb43d;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  font-size: 28px;
  line-height: 81px;
  text-align: center;
  padding: 0;
  color: rgb(255 255 255);
  display: inline-block;
}

.prod-percent.green_bck_circle.medium span:first-of-type {
  margin-top: 23%;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.prod-percent.green_bck_circle.medium span:last-of-type {
  font-size: 13px;
  line-height: 14px;
}

.prod-percent.green_bck_circle.medium {
  width: 96px;
  height: 96px;
  z-index: 999;
  font-size: 18px;
  font-weight: 500;
}

.prod-percent.green_bck_circle.bigger {
  width: 120px;
  height: 120px;
  transform: rotate(35deg);
  z-index: 999;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 16%;
  top: 25%;
}

.prod-percent.green_bck_circle.bigger span:last-of-type {
  font-size: 13px;
}

.prod-percent.green_bck_circle.bigger span.bulina_text1 {
  margin-top: 39px;
}

.prod-percent.green_bck_circle.bigger.has3txt span:nth-of-type(2) {
  margin-top: 0;
}

.prod-percent.green_bck_circle.bigger.has3txt > span:first-of-type {
  margin-top: 18%;
}

.prod-percent.green_bck_circle.bigger span.bulina_text {
  font-weight: 500;
  font-size: 15px;
}

.prod-percent.green_bck_circle.bigger span.bulina_text1 b {
  font-size: 28px;
}

.prod-percent.green_bck_circle.bigger span::before {
  display: none;
}

.prod-percent.green_txt {
  color: #2cb43d;
  background-color: rgb(44 180 61 / 20%);
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding: 4px 8px;
  font-weight: bold;
}

.prod-oldprice {
  color: #3c3c3c;
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
}

.prod-newprice {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

.prod-taxes {
  font-size: 11px;
}

.selectorBox {
  margin: 10px 0;
  padding: 10px 3%;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  width: 94% !important;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  transition: border 0.3s ease-in-out;
}

.selectorBox::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 17px;
  width: 11px;
  height: 11px;
  border-bottom: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.selectorBox label {
  font-size: 10px;
  font-weight: 700;
  line-height: 2.4;
  letter-spacing: 0.08em;
  color: #616161;
  padding: 0 5px;
  background-color: #fff;
  position: absolute;
  top: -11px;
  left: 11px;
  z-index: 1;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.selectorBox select {
  display: block;
  padding: 5px 2%;
  font-size: 1pc;
  font-weight: 400;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  width: 96%;
  border: 0 none;
  appearance: none;
  cursor: pointer;
}

.selectorBox select:focus {
  outline: none;
}

.red-buy-button {
  background: #e72325!important;
  color: #fff!important;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 13px 3%;
  font-size: 14px;
  font-weight: bold;
  transition: background-color .2s;
  width: 94%;
  border-style: none;
  cursor: pointer;
  margin: 5px 0;
  text-decoration: none;
}

.red-buy-button:hover {
  background: #b33027!important;
  text-decoration: none;
}

.red-buy-button p em {
  font-weight: 300;
  font-size: 14px;
}

#fakeSelectors_bottom {
  clear: both;
  position: fixed;
  top: 20%;
  left: 10px;
  display: none;
}

#fakeSelectors_bottom label {
  font-weight: bold;
  display: block;
  font-size: 13px;
  color: grey
}

#fakeSelectors_bottom select {
  width: 160px;
  padding: 2px;
  margin-bottom: 10px;
}

@media (max-width: 1387px) {
  .prod-percent.green_bck_circle.bigger {
    right: 10%;
  }
}

@media (max-width: 1174px) {
  .prod-percent.green_bck_circle.bigger {
    right: 1%;
  }

  .prod-percent.green_bck_circle.bigger span.bulina_text1 b {
    font-size: 22px;
  }

  .prod-percent.green_bck_circle.bigger span.bulina_text1 {
    margin-top: 28px;
  }
}

@media (max-width: 989px) {
  .prod-percent.green_bck_circle.bigger {
    width: 95px;
    height: 95px;
  }
}

@media (max-width: 768px) {
  header  {
    border-bottom: 1px solid white;
  }

  header .container {
    padding: 10px;
  }

  .section {
    padding: 10px;
  }

  .red-buy-button {
    padding: 8px 3%;
    font-size: 13px;
  }

  .selectorBox {
    margin: 6px 0;
    padding: 5px;
    width: 100% !important;
  }

  .prod-percent.green_bck_pill {
    margin-left: 0!important;
    font-size: 16px;
    padding: 2px 11px;
  }

  .prod-percent.green_bck_circle.bigger {
    display: none;
  }

  .section[data-backround="grey"] {
    padding: 1em 0;
  }

  .awards img {
    height: 65px;
  }

  .awards .title {
    margin-bottom: 0!important;
  }

  main .default-content-wrapper {
    padding-top: 1em;
  }

  main .default-content-wrapper h1, main .default-content-wrapper h2 {
    font-size: 23px;
  }

  main .default-content-wrapper p {
    font-size: 16px;
  }

  .red-buy-button p em {
    font-size: 13px;
  }

  .topHeader .heading {
    margin-bottom: 0;
  }

  .topHeader .subheading {
    font-size: 27px;
    line-height: 30px;
    margin-top: 10px;
  }
}