.columns-two .inner-container {
    background-color: rgb(242 242 242 / 75%);
    border-radius: 1.25rem;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.columns-two .inner-container .button-container {
   margin-top: auto;
}

.columns-two img {
    width: 64px;
    height: 64px;
}